<section class="s_masonry_block o_colored_level" data-vcss="001" data-snippet="s_masonry_block" data-name="Masonry">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 text-center pb224 pt224 oe_img_bg o_colored_level" data-name="Block" style="background-image: url(&quot;/web/image/website.s_masonry_block_default_image_1&quot;);">
        <p>
          <br>
        </p>
      </div>
      <div class="col-lg-6 o_colored_level">
        <div class="row h-100">
          <div class="col-lg-6 pt24 pb8 text-center o_cc o_cc3 o_colored_level" data-name="Block">
            <h3 class="o_default_snippet_text">Un gran título</h3>
            <p class="o_default_snippet_text">And a great subtitle</p>
          </div>
          <div class="col-lg-6 pt24 pb8 text-center bg-200 o_colored_level" data-name="Block">
            <h3 class="o_default_snippet_text">Un gran título</h3>
            <p class="o_default_snippet_text">And a great subtitle</p>
          </div>
          <div class="col-lg-6 pt24 pb8 text-center bg-200 o_colored_level" data-name="Block">
            <h3 class="o_default_snippet_text">Un gran título</h3>
            <p class="o_default_snippet_text">And a great subtitle</p>
          </div>
          <div class="col-lg-6 pt24 pb8 text-center o_cc o_cc4 o_colored_level" data-name="Block">
            <h3 class="o_default_snippet_text">Un gran título</h3>
            <p class="o_default_snippet_text">And a great subtitle</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>